.imgSlider{
    height: 640px;
}
body{
    padding-top: 7px;
    font-family: 'Marcellus', serif;
    
}

.about
{
    background-color: #fff;
}
.contactus{
    background-color: #f2f2f2;
}
.line{
    margin-bottom: 50px;
}
.ourteam{
    background-color: #f2f2f2;
}
.ourteamCard>img:hover{
    opacity: 0.8;

}
